<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Email" value="ziliyamustafina06@mail.ru"/>
		<add key="Password" value="1GWa6vsewxH3u3Gz99xr"/>
		<add key="TypeId" value="37"/>
		<add key="PriorityId" value="2"/>
		<add key="OrganizationId" value="82"/>
	</appSettings>
</configuration>