<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="./logs/internal-nlog.log">

	<targets>
		<target xsi:type="File" name="file" fileName="./logs/application.log"
				layout="${uppercase:${level}}|${date:format=dd\.MM\-HH\:mm\:ss.fff}|${mdlc:item=RequestId:whenEmpty=${aspnet-TraceIdentifier}}|${logger}|${message}|${exception}"
				archiveFileName="./logs/Archive/application-${date:format=yyyy-MM-dd-HH-mm-ss}.log"
				maxArchiveFiles="10"
				archiveAboveSize="50000000"/>

		<target xsi:type="File" name="file_error" fileName="./logs/errors.log"
				layout="${uppercase:${level}}|${date:format=dd\.MM\-HH\:mm\:ss.fff}|${mdlc:item=RequestId:whenEmpty=${aspnet-TraceIdentifier}}|${logger}|${message}|${exception}"
				archiveFileName="./logs/Archive/errors-${date:format=yyyy-MM-dd-HH-mm-ss}.log"
				maxArchiveFiles="10"
				archiveAboveSize="50000000"/>

		<target xsi:type="ColoredConsole"
                name="console"
                layout="${uppercase:${level}}|${date:format=HH\:mm\:ss.fff}|${logger}|${message}|${exception}" />

	</targets>
	<rules>
		<logger name="UseCerebellumRestLib.*" minlevel="Info" writeTo="file" />
		<logger name="UseCerebellumRestLib.*" minlevel="Error" writeTo="file_error" />
		<logger name="UseCerebellumRestLib.*" minlevel="Debug" writeTo="console" />
	</rules>
</nlog>